img{
    height: 200px;
    width: 350px;
    
}
/* img[alt]{
    border: 5px solid red;
} */

/* img[alt=bird]{

    border: 5px solid red;
} */

/* img[alt^=dragon]{
    border: 5px solid red;
} */

/* img[alt$=fly]{
    border: 5px solid red;
} */
/* img[alt~=dragon]{
    border: 5px solid red
} */
img[alt|=dragon]{
    border: 5px solid red;
}
