#div1{
    height:480px;
    width: 1120px;
    border: 15px dashed;
    padding: 20px;
    background-image: url(../image/life.jpg),url(../image/flower.webp),url(../image/journy.jpg);
    text-align: center;
    background-size: 250px 180px,500px 280px,250px 180px;
    background-repeat: no-repeat;
    background-position: left top ,center center, right bottom;
    background-clip:content-box,content-box,content-box;
    
  
}

h1::before{
    content: " * * * ";
    color: red;
}
h1::after{
    content: " * * * ";
    color: red;
}
p{
    color: blue;
    display: inline;
    
}
h1{
    color: red;
}

