#grid-container{
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    
    background-color: aquamarine;
    padding: 3px;
}
.grid-item{
    border: 1px solid;
    text-align: center;
    background-image:url(../image/duck.jpg) ;
    background-size: cover;
    border-radius: 20px;
    
}
#griditem6{
    grid-column: 2/span 2;
    grid-row: 2 /span 2;
    background-image: url(../image/cat1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}