div{
    border: 1px solid;
    /* height:250px ;
    overflow: visible; 
    overflow: hidden;
   overflow:scroll ; */
}
span{
    border: 1px solid;
    display: inline-block;
    min-width: 250px;

}
p{
    border: 1px solid;
    display: inline-block;
    min-width: 400px;
}
#p1{
    border: 1px solid;
    max-width: 400px;
}