#main_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color:rgb(207, 241, 107);
}

#login_modul {
    border: 1px solid white;
    height: 400px;
    width: 650px;
    box-shadow: 10px 10px 30px 30px rgb(220, 203, 206) ;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    
}

h1 {
    padding-top: 50px;
    text-align: center;
}

#form_modul {
    line-height: 45px;
    gap: 10px;
   
    width: 80%;
   
}

.userdetails {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
   
}

.user_lable {
  
    width: 40%;
    /* padding: 10px; */
    text-align: right;
    column-gap: 10px;
   
}

.user_input {
   
    width: 60%;
    /* padding: 10px; */
   
}
#btn{
    padding-left: 120px;
    width: 15px;
}
button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
}
#warning-msg{
    padding-left: 100px;

}
p{
    word-spacing: 2px;
    letter-spacing: 2px;
}
input{
    border-radius: 5px;
}
.user_input > span{
    position: relative;
    right: 20px;
    top: 1px;
    
}