P{
    border: 1px solid;
    width: 200px;
    height: 150px;
    transition: 1s;
    /* transform: rotate(45deg); */
}
P:hover{
    /* transform:translate(250px); */
    /* transform: rotateZ(12deg); */
      /* transform: scale(1.5,1.5); */
      transform: skewX(25deg);
}
/* button:hover{
    transform: scale(1.5);
} */