#body{
    border: 1px solid black;
    height: 600px;
    width: 600px;
    border-radius: 500px;
    background-color: yellow;
}
div>#outer{
    border: 0px solid black;
    height: 150px;
    width:200px;
    border-radius:48%;
    position: relative;
    top: 140px;
    left: 70px;
    background-color: white;
}
div>#inner{
    border: 0px solid black;
    height: 160px;
    width:200px;
    border-radius:48%;
    position: relative;
    top:0px;
    left: 350px;
    
    
    background-color: white;
}
div>#outer>#inside{
    border: 0px solid black;
    height: 140px;
    width: 170px;
    border-radius: 48%;
    position: relative;
    top: 5px;
    background-color: blanchedalmond;

}
div>#inner>#outside{
    border: 0px solid black;
    height: 150px;
    width: 170px;
    border-radius: 48%;
    position: relative;
    top: 5px;
    background-color: blanchedalmond;

}
div>#outer>#inside>#b1{
    border: 0px solid black;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    position: relative;
    top: 80px;
    left: 45px;
    background-color: black;
    opacity: 0.5;
    animation-name: ball1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    

}
div>#inner>#outside>#b2{
    border: 0px solid black;
    height: 60px;
    width: 60px;
    border-radius: 48%;
    position:relative;
    top: 90px;
    left: 50px;
    background-color:black;
    opacity: 0.5;
    animation-name: ball2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  

}
#mouth{
    border: 0px solid black;
    height: 110px;
    width: 250px;
    border-radius: 48%;
    position: relative;
    top: 60px;
    left: 10px;
    background-color: white;
    
    
}
@keyframes ball1 {
  0%{
    top: 80px;
    left: 45px;
    background-color: black;
    opacity: 0.5;
  }
  10%{
    top: 80px;
    left: 55px;
    background-color: black;
    opacity: 0.5;
  }
  15%{
    top: 80px;
    left: 60px;
    background-color: black;
    opacity: 0.5;
  }
  20%{
    top: 75px;
    left: 65px;
    background-color: black;
    opacity: 0.5;
  }
  25%{
    top: 70px;
    left: 70px;
    background-color: black;
    opacity: 0.5;
  }
  30%{
    top: 65px;
    left: 75px;
    background-color: black;
    opacity: 0.5;
  }
  35%{
    top: 60px;
    left: 80px;
    background-color: black;
    opacity: 0.5;
  }
  40%{
    top: 58px;
    left: 84px;
    background-color: black;
    opacity: 0.5;
  }
  45%{
    top: 54px;
    left: 88px;
    background-color: black;
    opacity: 0.5;
  }
  50%{
    top: 50px;
    left: 90px;
    background-color: black;
    opacity: 0.5;
  }
  55%{
    top: 50px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
  }
  60%{
    top: 55px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
  }
  65%{
    top: 60px;
    left: 5px;
    background-color: black;
    opacity: 0.5;
  }
  70%{
    top: 65px;
    left: 10px;
    background-color: black;
    opacity: 0.5;
  }
  75%{
    top: 70px;
    left: 15px;
    background-color: black;
    opacity: 0.5;
  }
  85%{
    top: 75px;
    left: 25px;
    background-color: black;
    opacity: 0.5;
  }
  95%{
    top: 77px;
    left: 30px;
    background-color: black;
    opacity: 0.5;
  }




100%{
    top: 80px;
    left: 45px;
    background-color: black;
    opacity: 0.5;
    
}
    
}
@keyframes ball2 {
    0%{
        top: 90px;
        left: 50px;
        background-color:black;
        opacity: 0.5;
    }
    10%{
        top: 90px;
        left: 60px;
        background-color:black;
        opacity: 0.5;
    }
    15%{
        top: 90px;
        left: 65px;
        background-color:black;
        opacity: 0.5;
    }
    20%{
        top: 85px;
        left: 70px;
        background-color:black;
        opacity: 0.5;
    }
    25%{
        top: 80px;
        left: 75px;
        background-color:black;
        opacity: 0.5;
    }
    30%{
        top: 75px;
        left: 80px;
        background-color:black;
        opacity: 0.5;
    }
    35%{
        top: 70px;
        left: 85px;
        background-color:black;
        opacity: 0.5;
    }
    40%{
        top: 65px;
        left: 90px;
        background-color:black;
        opacity: 0.5;
    }
    45%{
        top: 60px;
        left: 95px;
        background-color:black;
        opacity: 0.5;
    }
    50%{
        top: 55px;
        left: 95px;
        background-color:black;
        opacity: 0.5;
    }
    55%{
        top: 55px;
        left: 0px;
        background-color:black;
        opacity: 0.5;
    }
    60%{
        top: 60px;
        left: 0px;
        background-color:black;
        opacity: 0.5;
     
      
    }
    65%{
        top: 65px;
        left: 5px;
        background-color:black;
        opacity: 0.5;
        
    }
    70%{
        top: 70px;
        left: 10px;
        background-color:black;
        opacity: 0.5;
    }
    75%{
        top: 75px;
        left: 15px;
        background-color:black;
        opacity: 0.5;
    }
    85%{
        top: 80px;
        left: 25px;
        background-color:black;
        opacity: 0.5;
    }
    95%{
        top: 85px;
        left: 35px;
        background-color:black;
        opacity: 0.5;
    }
    100%{
        top: 90px;
        left: 50px;
        background-color:black;
        opacity: 0.5;
    }
  
    
}
#toungue>#mouth{
border: 0px solid black;
height: 100px;
width: 200px;
position: relative;
top: 70px;
left: 190px;
animation-name: image;
animation-duration: 1s;
}
@keyframes image {
    from{
        background-image: url(https://cdn.pixabay.com/photo/2017/01/31/14/45/lips-2024681_1280.png);
        transform: scale(1.8,1.8);
      
    }
    to{
        background-image: url(https://cdn.pixabay.com/photo/2017/01/31/14/45/lips-2024681_1280.png);
        transform: scale(2.5,2.5);
       
    }
}