table,th,td{
   
    border-collapse: collapse;
}
table{
    display: block;
    max-width: 600px;
    
}
.name {
    width:290px ;
    border: 1px solid;
   
}
.age{
    width: 100px;
    border: 1px solid;
    border-right: 2px solid;
    border-left: rgb(117, 114, 114);
    
}
.sn{
    width: 100px;
    border-spacing: 2px;
    border: 1px solid;
    
}
thead>tr> th{
    border-bottom:dashed;
    background-color: bisque;
}
#tr4:hover{
    background-color: yellow;
   
}
td{
    text-align: center;
   
}
#tr1>th{
    border-bottom: dashed;
}
#tr2>td{
    border-bottom-color:rgb(127, 255, 146);
}

#tr3>td{
   
    border-bottom-color:blueviolet ;
}
#tr4{
    border-bottom-color:blueviolet ;
} 

