
      html{
        margin: 30px;
        border: solid rgb(86, 166, 197);
        padding: 10px;
        
        }
      h1{
        text-align: center;
      }
      #th{
        text-align: center;
      }
      p{
        text-align: justify;
      }

