#grid-container{
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px  200px 200px 250px;

}
.grid-item{
    border: 1px solid;
}
#griditem1{
    background-color: yellow;
}
#griditem5{
    grid-column: 1/2;
    background-color: yellow;
}
#griditem6{
    grid-column: 4/5;
    background-color: yellow;
}
#griditem7{
    grid-column: 1/2;
    background-color: yellow;
}
#griditem8{
    grid-column: 4/5;
}
#griditem9{
    background-color: yellow;
}
#griditem3,#griditem11{
    background-color: yellow;
}
#griditem2,#griditem4,#griditem6,#griditem8,#griditem10,#griditem12{
background-color: blue;
}
