
p{
    font-size: 20px;
    color:  #926239;
    text-align: center;
}
#para1{
    color:  #926239;
    font-size: 20px;
    padding: 0;
    margin-bottom: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
   
}

#para2{
    font: 17px;
    padding: 20px;
    color:#f7f2f2;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background:#926239;
    display: block;
}
#para3{
    text-align: center;
    padding: 40px;
    background: #f5eded;
    display: block;
    margin-bottom: 0px;
}
#div1{
    padding-top: 150px;
    height: 100vh; 
    background-image: url();
    background-size: cover;
    background-repeat:no-repeat;
    margin-bottom:0%;
    
}

#div3{
  
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    margin-bottom: 0;
  
}
#para4{
    display: inline-block;
    background: #926239;
    color: #f5f0f0;
    max-width: 400px;
}
#para5{
    display: block;
    display: inline-block;
    background: #efecec;
    max-width: 400px;
}
#para6{
    background: #926239;
    color: #fff;
    display: inline-block;
    max-width: 400px;

}
/* body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    color:#926239;

} */
button{
    color: #926239;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;  
    border: 1px solid #926239;
    margin-top: 20px;
  }
  #para1>h1{
    margin-bottom: 0px;
  }
  #para1{
    margin-top: 0px;
  }
  button:hover{
    background-color: #926239;
    color: #efecec;
  }
  #div2{
    margin-bottom:0%;
    background-color: aqua;
  }
  #div4{
    margin-top: 0px;
  }
  .para{
    padding: 20px;
    margin-bottom: 0%;
    margin-top: 0%;
  }
  